version: '3'
services:
  memgraph-mage:
    image: memgraph/memgraph-mage
    ports:
      - '7687:7687'
      - '7444:7444'
    networks:
      - lnstream-network
  memgraph-lab:
    image: memgraph/lab
    environment:
      - QUICK_CONNECT_MG_HOST=host.docker.internal
    ports:
      - '3000:3000'
    networks:
      - lnstream-network

  api:
    build: .
    ports:
      - '8080:8080'
    depends_on:
      - memgraph-mage
      # - postgres
    environment:
      - NEO4J_HOST=memgraph-mage  # Assuming your application uses this environment variable
      - NEO4J_PORT=7687  # Assuming your application uses this environment variable
      - NEO4J_USERNAME=
      - NEO4J_PASSWORD=
#    volumes:
#      - ${LND_CRED_PATH}:/app/creds
    networks:
      - lnstream-network

  # postgres:
  #   image: postgres:latest
  #   environment:
  #     POSTGRES_USER: user
  #     POSTGRES_PASSWORD: password
  #     POSTGRES_DB: lnstreamdb
  #   ports:
  #     - "5432:5432"
  #   networks:
  #     - lnstream-network

networks:
  lnstream-network:
    driver: bridge