version: '3'
services:
  memgraph-mage:
    image: memgraph/memgraph-mage
    ports:
      - '7687:7687'
      - '7444:7444'
    networks:
      - lnstream-network
  memgraph-lab:
    image: memgraph/lab
    environment:
      - QUICK_CONNECT_MG_HOST=host.docker.internal
    ports:
      - '3000:3000'
    networks:
      - lnstream-network

  api:
    build: .
    ports:
      - '8080:8080'
    depends_on:
      - memgraph-mage
    environment:
      - NEO4J_HOST=memgraph-mage
      - NEO4J_PORT=7687
      - NEO4J_USERNAME=
      - NEO4J_PASSWORD=
      - LND_ADDRESS=${LND_ADDRESS:-}
      - LND_NETWORK=${LND_NETWORK:-mainnet}
      - LND_MACAROON_PATH=/app/creds/readonly.macaroon
      - LND_TLS_CERT_PATH=/app/creds/tls.cert
    volumes:
      - ./describegraph.json:/app/describegraph.json:ro
      - ./creds:/app/creds:ro
    networks:
      - lnstream-network


networks:
  lnstream-network:
    driver: bridge